@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Fjalla+One&display=swap');

.hero {
    /* background-color: #fff; */
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -40px;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/hero-background-1.jpg');
    filter: brightness(40.5%) blur(1.35px);
    /* position: relative; */
    /* z-index: ; */
    /* background-color: #666; */
    /* top: 0;
    left: 0; */
    z-index: -1;
}
.hero-content-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.hero-content {
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 0rem 5rem;
    text-align: center;
    color: #fff;
    /* background-color: #666; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero-header {
    font-family: "Fjalla One", sans-serif;
    font-size: 48px;
    font-weight: 600;
}
.hero-sub {
    width: 48.5%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    /* font-family: "Titillium Web", sans-serif; */
    /* font-family: "Fjalla One", sans-serif; */
}

/* @media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
} */

@media (max-width: 1200px) {
    .hero-sub {
        font-size: 1.25rem;
        width: 60%;
    }
}
@media (max-width: 992px) {
    .hero-sub {
        font-size: 1.15rem;
        width: 70%;
        margin-bottom: 2rem;
    }
}
@media (max-width: 768px) {
    .hero-header {
        width: 100%;
        font-size: 2.5rem;
    }
    .hero-sub {
        font-size: 1rem;
        width: 70%;
        margin-bottom: 2rem;
    }
}
@media (max-width: 576px) {
    .hero-header {
        width: 100%;
        font-size: 2rem;
    }
    .hero-sub {
        font-size: 1rem;
        width: 70%;
        margin-bottom: 2rem;
    }
    .hero-content {
        padding: 0rem 1rem;
    }
}


