@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
:root {
    --mainColor: #242424;
    --secondaryColor: red;
    --textColor: white;
}
header {
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;

    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}
nav {
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
}
nav .menu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
nav a {
    margin: 0 0.95rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.4rem;
}
nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    display: none;
    font-size: 1.6rem;
    order: 2;
}

.btn-cta {
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 1rem;
    order: 1;
}
.logo {
    /* border: 1px solid red; */
}

@media only screen and (max-width: 1024px){
    header {
        position: sticky;
        top: 0;
    }
    header .nav-btn {
        visibility: visible;
        opacity: 1 ;
        display: block;
    }

    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mainColor);
        transition: 0.5s;
        transform: translateY(-100vh);
    }

    header .showNav {
        transform: none;
    }
    header .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;

    }
    nav .menu {
        flex-direction: column;
    }
}